<a href="https://colab.research.google.com/github/SanchitaMahajan/ISYS5002_Portfolio/blob/main/tax_calculation_(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program the prompts the user for their income and caclualtes the tax payable.

[Resident tax rates 2021–22
Taxable income](https://www.ato.gov.au/rates/individual-income-tax-rates/)

Income            | Tax on this income 
------------------|----------------------
0 – \$18,200       | Nil
\$18,201 – \$45,000 | 19 cents for each \$1 over \$18,200
\$45,001 – \$120,000 | \$5,092 plus 32.5 cents for each \$1 over \$45,000
\$120,001 – \$180,000 |  \$29,467 plus 37 cents for each \$1 over \$120,000
\$180,001 and over | \$51,667 plus 45 cents for each \$1 over \$180,000

Steps
1. Get the income
2. Calculate the tax payable

In [2]:
# Step 1- Calculate the income amount
income = int(input("What is your income for the year"))
print(income)

What is your income for the year18200
18200

In [5]:
# Step 1- Calculate the income amount
income = int(input("What is your income for the year? "))
print("Your income is ", income)

# Step 2- Calculate the tax payable
# if you earn $18,200, then pay no tax
# else if you earn between $18,201 -$45,000, 
#         the pay 19 cents for every dollar over 18,200

if income < 18200:
  tax_payable = 0
elif 18200 < income <= 45000:
  tax_payable = 0.19*(income - 18200)
elif 45000 < income < 120000:
  tax_payable = 5092 + 0.32 * ( income - 45000)

print(" Your tax payable is: ", tax_payable)

What is your income for the year? 45002
Your income is  45002
 Your tax payable is:  5092.64

In [6]:
def get_income():
  '''
  This function will prompt the user for the income
  and return the value
  '''

  income = int(input("What is your income for the year? "))
  print("Your income is ", income)
  return income

In [7]:
def calculate_tax(income):
  if income < 18200:
   tax_payable = 0
  elif 18200 < income <= 45000:
   tax_payable = 0.19*(income - 18200)
  elif 45000 < income < 120000:
   tax_payable = 5092 + 0.32 * ( income - 45000)

  return tax_payable

In [8]:
# 'Main line'

# Step 1
income = get_income()

# Step 2
tax = calculate_tax(income)

print(" Your tax payable is ", tax)

What is your income for the year? 18400
Your income is  18400
 Your tax payable is  38.0